############################################################
# SERVICE
############################################################

APP_PORT=3333
NODE_ENV=development
AUTH_HEADER=admgestao


############################################################
# DATABASE - ORACLE
############################################################

ORACLE_USER=
ORACLE_PASSWORD=
ORACLE_HOST=localhost
ORACLE_PORT=1521
ORACLE_SID=WINT


############################################################
# JWT
############################################################

# Secret para assinatura dos tokens JWT
# Gere em: https://jwtsecret.com/generate

JWT_SECRET=

# Domínio da aplicação
JWT_TOKEN_AUDIENCE=http://localhost:3000
JWT_TOKEN_ISSUER=http://localhost:3000

# Tempo em segundos (ex: 86400 = 24h)
JWT_TTL=86400


############################################################
# RESPONSE ENCRYPTION
############################################################

# Chave base64 de 32 bytes
# Gere do RESPONSE_ENC_KEY_BASE64 com:
# node -e "console.log(require('crypto').randomBytes(32).toString('base64'))"
RESPONSE_ENC_KEY_BASE64=chave gerada

RESPONSE_ENCRYPTION_ENABLED=true


############################################################
# TELEGRAM
############################################################

# Crie seu bot em:
# https://t.me/BotFather

TOKEN_BOOT_ADM='8187449002:AAGIEzBX35thzo3kGgHmXDrqssBWjA1M_2c'        token do boot do telegram
TOKEN_BOOT_ALERTA='7843895711:AAFyLUOKt797cLX6pxUEeanGP_h40EdtyLQ'     token do boot do telegram


############################################################
# EMAIL (SMTP)
############################################################

# Configuração SMTP (exemplo Gmail)
# https://support.google.com/accounts/answer/185833

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false

SMTP_USER=
SMTP_PASS=

SMTP_FROM="App <email@dominio.com>"

